
 
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box" style="width: 500%;justify-content: center;">
                    <div class="blog-img" >
                        <img class="img-fluid"  src="{{getImagePath(img)}}" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3 style="font-weight: 900;">{{userName}}</h3>
                            
                            <p>{{descriptiontext}}</p>
                    </div>
                   
                </div>
            </div>
           
            
        </div>
   