<!-- Start Main Top -->
<header class="main-header">
  <!-- Start Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
      <div class="container">
          <!-- Start Header Navigation -->
          <div class="navbar-header">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>
              <a class="navbar-brand" href="index.html"><img src="../../assets/images/logo.png" class="logo" alt="" style="width: 103%;"></a>
          </div>
          <!-- End Header Navigation -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                  <li class="nav-item"><a class="nav-link"  (click)="Home()">Home</a></li>

                  <li class="nav-item"><a class="nav-link"  (click)="AboutUs()">About Us</a></li>
                  <!-- <li class="dropdown">
                      <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                      <ul class="dropdown-menu">
          <li><a href="../../assets/shop.html">Sidebar Shop</a></li>
          <li><a href="../../assets/shop-detail.html">Shop Detail</a></li>
                          <li><a href="../../assets/cart.html">Cart</a></li>
                          <li><a href="../../assets/checkout.html">Checkout</a></li>
                          <li><a href="../../assets/my-account.html">My Account</a></li>
                          <li><a href="../../assets/wishlist.html">Wishlist</a></li>
                      </ul>
                  </li> -->
                  <!-- <li class="nav-item"><a class="nav-link"  (click)=" GoToTestimonial()">Testimonial</a></li> -->
                  <li class="nav-item"><a class="nav-link"  (click)=" GoToLogin()">login</a></li>
                  <li class="nav-item" ><a class="nav-link"  (click)="ContactUs()">Contact Us</a></li>
                  <li class="nav-item" ><a class="nav-link"  (click)="GoToReg()">register</a></li>

              </ul>
          </div>
          <!-- /.navbar-collapse -->

          <!-- Start Atribute Navigation -->
          <div class="attr-nav">
              <ul>
                  <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                  <li class="side-menu">
        <!-- <a href="#">
          <i class="fa fa-shopping-bag"></i>
          <span class="badge">3</span>
          <p>My Cart</p>
        </a> -->
      </li>
              </ul>
          </div>
          <!-- End Atribute Navigation -->
      </div>
      <!-- Start Side Menu -->
      <div class="side">
          <a href="#" class="close-side"><i class="fa fa-times"></i></a>
          <li class="cart-box">
              <ul class="cart-list">
                  <li>
                      <a href="#" class="photo"><img src="https://images.unsplash.com/photo-1605210057707-8ac4e88bad73?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDZ8fGZydWl0JTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="cart-thumb" alt="" /></a>
                      <h6><a href="#">Delica omtantur </a></h6>
                      <p>1x - <span class="price">$80.00</span></p>
                  </li>
                  <li>
                      <a href="#" class="photo"><img src="../../assets/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                      <h6><a href="#">Omnes ocurreret</a></h6>
                      <p>1x - <span class="price">$60.00</span></p>
                  </li>
                  <li>
                      <a href="#" class="photo"><img src="../../assets/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                      <h6><a href="#">Agam facilisis</a></h6>
                      <p>1x - <span class="price">$40.00</span></p>
                  </li>
                  <li class="total">
                      <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                      <span class="float-right"><strong>Total</strong>: $180.00</span>
                  </li>
              </ul>
          </li>
      </div>
      <!-- End Side Menu -->
  </nav>
  <!-- End Navigation -->
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search">
  <div class="container">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
      </div>
  </div>
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>Sign up</h2>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active"> Sign up </li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- End All Title Box -->

<!-- Start register form  -->

<div class="contact-box-main">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-sm-12">
              <div class="contact-form-right">
                  <h2>SIGN UP</h2>
                  <p>please fill all information correctly to register in freshShop!</p>
                  
                  <!--form-->
                  <form [formGroup]="formRegister">
                    <mat-form-field class="example-full-width">
                      <mat-label>Enter Full Name </mat-label>
                      <input matInput  formControlName="userName" placeholder="enter your name">
                      <mat-error *ngIf="formRegister.controls.userName.hasError('required')">
                        Please Enter your name
                      </mat-error>
                  
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width">
                      <mat-label>Enter your Phone Number</mat-label>
                      <input matInput  formControlName="phoneNumber" placeholder="enter your phoneNumber">
                      </mat-form-field>
                  
                  
                    <mat-form-field class="example-full-width">
                      <mat-label>Enter your email</mat-label>
                      <input matInput placeholder="pat@example.com" formControlName="email">
                      <mat-error *ngIf="formRegister.controls.email.hasError('required') && !formRegister.controls.email.hasError('email')">
                        Please Enter your email
                      </mat-error>
                      <mat-error *ngIf="formRegister.controls.email.hasError('email') ">
                        Please Enter valid email
                      </mat-error>
                    </mat-form-field>
                  
                  
                    <mat-form-field class="example-full-width">
                      <mat-label>Enter your password</mat-label>
                      <input matInput  formControlName="password" type="password" placeholder="enter password">
                      <mat-error *ngIf="formRegister.controls.password.hasError('required') && !formRegister.controls.password.hasError('minlength')">
                        Please Enter your password
                      </mat-error>
                      <mat-error *ngIf="formRegister.controls.password.hasError('minlength') ">
                        Please Enter strong password
                      </mat-error>
                    </mat-form-field>
                  
                  
                    <!-- <mat-form-field class="example-full-width">
                      <mat-label>Confirm password </mat-label>
                      <input matInput  formControlName="confirmPassword" type="password">
                      <mat-error *ngIf="formRegister.controls.confirmPassword.hasError('required') ">
                       password are required
                      </mat-error>
                      <mat-error *ngIf="formRegister.controls.confirmPassword.hasError('minlength') && !formRegister.controls.confirmPassword.hasError('required') && 
                      formRegister.controls.confirmPassword.value != 
                      formRegister.controls.password.value">
                       password Not Matched
                      </mat-error>
                     
                    </mat-form-field> -->
                  
                  
                    <mat-form-field class="example-full-width">
                      <mat-label>Enter your Address</mat-label>
                      <input matInput  formControlName="address" placeholder="enter your address">
                      </mat-form-field>
                  
                      <mat-form-field class="example-full-width">
                        <mat-label>Enter your position</mat-label>
                        <input matInput  formControlName="roleId" placeholder="enter your position">
                        </mat-form-field>
                  
                  
                    
                    <mat-form-field class="example-full-width">
                      <mat-label>Enter your Age</mat-label>
                      <input matInput  formControlName="age" placeholder="enter your age">
                    </mat-form-field>
                  
                    <button  mat-button color="black" (click)="submit()" 
                    style="flex:1;width:100%;margin-top:50px ;">
                  
                      <ng-container>Register</ng-container>  </button>
                  
                    
                      
                  
                  
                  
                  
                  </form>
                  
                <!--end Form-->
              </div>
          </div>
  <div class="col-lg-4 col-sm-12"> 
              <div class="contact-info-left">
                  <h2>sign up</h2>
                  <p>if you are farmer or trader, register now and show all products from frruits ang vegitable , also you can sell and buy . ENGOY!!</p>
                  <ul>
                      <li>
                          <p><i class="fas fa-map-marker-alt"></i>Address: Michael I. Days 9000 <br>Preston Street Wichita,<br> KS 87213 </p>
                      </li>
                      <li>
                          <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                      </li>
                      <li>
                          <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                      </li>
                  </ul>
              </div>
          </div> 
      </div>
  </div>
</div>
<!-- End register form -->




<!-- Start Footer  -->
<!-- Start Footer  -->
<footer style="margin-top:-4%;"> 
  <div class="footer-main">
      <div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="footer-top-box">
        <h3>Business Time</h3>
        <ul class="list-time">
          <li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="footer-top-box">
        <h3>Newsletter</h3>
        <form class="newsletter-box">
          <div class="form-group">
            <input class="" type="email" name="Email" placeholder="Email Address*" />
            <i class="fa fa-envelope"></i>
          </div>
          <button class="btn hvr-hover" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div class="footer-top-box">
        <h3>Social Media</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul>
                          <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                      </ul>
      </div>
    </div>
  </div>
  
          <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-widget">
                      <h4>About Freshshop</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> 							
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-link">
                      <h4>Information</h4>
                      <ul>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Customer Service</a></li>
                          <li><a href="#">Our Sitemap</a></li>
                          <li><a href="#">Terms &amp; Conditions</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Delivery Information</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="footer-link-contact">
                      <h4>Contact Us</h4>
                      <ul>
                          <li>
                              <p><i class="fas fa-map-marker-alt"></i>Address: Michael I. Days 3756 <br>Preston Street Wichita,<br> KS 67213 </p>
                          </li>
                          <li>
                              <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                          </li>
                          <li>
                              <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">contactinfo@gmail.com</a></p>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
  <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
      <a href="https://html.design/">html design</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
