<form [formGroup]="ContactForm"> 
    <mat-form-field class="example-full-width">
      <mat-label>Enter Full name</mat-label>
      <input matInput placeholder="enter your name" formControlName="userName">
       <mat-error *ngIf="ContactForm.controls.userName.hasError('required')">
         please enter your name
      </mat-error>
    
    </mat-form-field>


    
    <mat-form-field class="example-full-width" >
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..." formControlName="descriptiontext" ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" >
        <mat-label>add img</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="img" ></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width" >
        <mat-label>add rate</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="rate" ></textarea>
      </mat-form-field>
    
     
      <button [disabled]="!ContactForm.controls.descriptiontext.valid" mat-button color="primary" (click)="submit()" style="flex:1;width:100%;margin-top:50px ;"> 

        <ng-container>send</ng-container>
        </button>

      </form> 
