


/* 

.carousel-item {
	height: 100vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-caption {
	bottom: 270px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 75%;}




body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(221, 207, 207);
  font-family: 'Open Sans'
}

#demo {
  background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
  max-width: 900px;
  margin: auto
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgba(78, 77, 77, 0.856);
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2rem
}

@media(max-width:767px) {
  .carousel-caption {
      position: initial;
      z-index: 10;
      padding: 3rem 2rem;
      color: rgba(78, 77, 77, 0.856);
      text-align: center;
      font-size: 0.7rem;
      font-style: italic;
      font-weight: bold;
      line-height: 1.5rem
  }
}

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem
}

@media(max-width:767px) {
  .carousel-caption img {
      width: 4rem;
      border-radius: 4rem;
      margin-top: 1rem
  }
}

#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem
}

@media(max-width:767px) {
  #image-caption {
      font-style: normal;
      font-size: 0.6rem;
      margin-top: 0.5rem
  }
}

i {
  /* background-color: rgb(223, 56, 89); */
  /* padding: 1.4rem
}
#i1{
     background-color: rgb(223, 56, 89); 

}
#i2{
  background-color: rgb(223, 56, 89); 

}

@media(max-width:767px) {
  i {
      padding: 0.8rem
  }
}

.carousel-control-prev {
  justify-content: flex-start
}

.carousel-control-next {
  justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}  */






@import url("https://use.typekit.net/ivq4uiu.css");
html {
	background: #2b2a34;
	color: #f2f2f2;
}
.container {
	margin-top: 50px;
}
	.testimonial-wrapper {
		padding: 20px;
		transition: all 0.2s ease-in-out;
  }
		:hover {
			margin-top: -3px;
		}
		.testimonial {
			background: #8fad09;
			box-shadow: 0 10px 100px #efeef3;
			border-radius: 2px;
			padding: 15px;
    }
			.quote {
				font-size: 1.3rem;
				color: #f2f2f2;
				z-index: 1;
			
        font-family: 'Roboto Slab', serif;
				font-weight: 120;
				font-style: normal;
				letter-spacing: 0.02rem;
       
			}
			.attribution {
				color: #0f0d0a;
        
				text-transform: uppercase;
				letter-spacing: 0.05rem;
				padding-top: 15px;
				font-family: poppins, sans-serif;
				font-weight: 700;
				font-size: 1rem;
				font-style: normal;
			}
	
	

