

      <div class="container" style="margin-bottom: 11%;margin-top: 11%;"  >
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <p> {{descriptiontext}}</p> <img src="{{getImagePath(img)}}">
                        <div id="image-caption">{{userName}}</div>
                    </div>
                </div>
               
            </div>
             <a class="carousel-control-prev" href="#demo" data-slide="prev">
                 <i id="i1" class='fas fa-arrow-left'></i> </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next"> 
                      <i id="i2"class='fas fa-arrow-right'></i> </a>
        </div>
    </div>  
  
    
    
