<!-- Start Products  -->


 <div class="products-box"> 
  <div class="container">
      <div class="row special-list">
          <div class="col-xs-6 col-sm-4 special-grid best-seller" >
              <div class="products-single fix">
                  <div class="box-img-hover">
                      <div class="type-lb">

                      </div>
                      <img src="{{getImagePath(productImg)}}" class="img-fluid" alt="Image">
                      <div class="mask-icon">
                          
                          <a class="cart"  (click)="AddtoCart()">Add to Cart</a>
                      </div>
                  </div>
                  <div class="why-text">
                      <h4>{{productName}}</h4>
                      <h5> {{productPrice}}</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!-- End Products  -->
<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{productName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{getImagePath(productImg)}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{productPrice}}JD
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="AddtoCart()">Add to Cart</button>
    </mat-card-actions>
  </mat-card> -->

