<!-- Start Products 
<div class="products-box"  >
    <div class="container">
       
        <div class="row special-list">
            <div class="col-xs-6 col-sm-4 special-grid best-seller" >
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            
                        </div>
                        <img src="{{getImagePath(productImg)}}" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                           
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>{{productName}}</h4>
                        <h5> {{productPrice}}</h5>
                    </div>
                </div>
            </div>
  
          
        </div>
    </div>
  </div>
   -->
   


   <!-- <div class="container">
    <h2> Products Sold Out  </h2>
    <ul class="responsive-table">
      <li class="table-header">
       
        <div class="col col-2">Products Name</div>
        <div class="col col-3">Product Price</div>
        <div class="col col-4">Product Quantity</div>
       
      </li>
      
      <li class="table-row">
        <div class="col col-2" data-label="Products Name">{{productName}}</div>
        <div class="col col-3" data-label="Product Price">{{productPrice}}</div>
        <div class="col col-4" data-label="Product Quantity">{{productQuantity}}</div>
      </li>
    </ul>
  </div> -->





  <div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Images</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="thumbnail-img">
                                    <a href="#">
                                <img class="img-fluid" src= "{{getImagePath(productImg)}}"  alt=""  />
                            </a>
                                </td>
                                <td class="name-pr">
                                    
                                        {{productName}}
                            
                                </td>
                                <td class="price-pr">
                                    <p>{{productPrice}} JD</p>
                                </td>
                               
                                <td class="total-pr">
                                    <p>{{productQuantity}}</p>
                                </td>
                               
                                
                            </tr>
                          
                           
                        </tbody>
                    </table>