/* 
    .table {
        width: 100%;
        max-width: 150%;
        margin-bottom: 1rem;
        margin-left: 8%;
        background-color:#ecf0f4;
    }
   .cart-box-main{
    background-color:#ecf0f4;
   }
   .container{
    background-color:#ecf0f4;
   }
   .table td img {
    width: 200px;
    height: 50px;
    border-radius: 60%;
}

 */




  
